html {
   
}
body {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}
main{
    float: left;
    top: 0;
    width: 70%;
    bottom: 0;
    height: 100vh;
    background: #dd0f0f url(img/pic1.jpg) no-repeat center center;
    background-size: cover; 
    text-align: center;
}
main:hover {
    background-image: url(img/pic2.jpg);

    background-size: cover;

}
main:active {
    background: #dd0f0f url(img/pic3.jpg) no-repeat center center;
    background-size: cover;
}
.main.opened{
        width:100%;
        background: #dd0f0f ;
}
.logo{
    float: left;
    position: absolute;
    top: 100px;
    left: 150px;
    font-size: 34px;;
    color: gold;
}
.header{
    margin: 40vh auto 0;
    font-size: 86px;
    font-family: 'Taviraj', serif;
} 
.container>p {
    font-size: 14px;
    letter-spacing: 2px;
    color: #000;
    margin: 20px auto 50px;
}
main nav {
    display: inline-block;
}
main nav ul{
    padding: 0;
}
main nav li{
    list-style: none;
    float: left;
    padding: 20px 80px;
    margin: 0 10px;
    border: solid #FFFFFF 2px;
    background: rgba(221,15,15,.25);
}
main nav li:hover{
    background: rgba(221,15,15,1);
}
main nav li a{
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 1px;
}
section {
    width:30%; 
    background: #000000;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

}
.section.opened {
    transform: translate(100%);
    transition:  .5s ease-in-out;
}
section ul{
    padding: 0;
    margin-top: 100px;
}
section ul li{
    list-style: none;
    margin: 20px 50px;
    padding: 15px 0px;
    background-color: #fadf0f;
    text-align: center;
}
.section nav ul li:hover {
    height: 30px;
    padding-top: 12px;
    padding-bottom:18px;
    background-color: #000;
    border: solid 3px #fadf0f;
    display: grid;
}
.section nav ul .nav-button:hover a{
    color: #fff; 
    text-decoration: underline;
    }
section ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
@media (max-width: 1200px) {
    main {
    width: 60%;
    transition: .5s ease-in-out;
    }
    .header {
        margin-top: 20vh;
    }
    main nav li {
        float: none;
        margin: 20px;
    }
    section {
    width: 40%;
    transition:  .5s ease-in-out;
    }
}